@font-face {
    font-family: ZKXW;
    src: url("./ZhanKuXiaoLOGOTi-2.woff2") format("woff2");
}

@font-face {
    font-family: SYST;
    src: url("./SourceHanSerifCN-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: RGBZ;
    src: url("./RuGuoBuZengAiGuoNi-2.woff2") format("woff2");
}

@font-face {
    font-family: SJJS;
    src: url("./SanJiJinSongJianTi-Zhong-2.woff2") format("woff2");
}

