@font-face {
    /* 思源宋体 */
    /* 商用免费 */
    font-family: SYST;
    src: url("../font/SourceHanSerifCN-VF.otf.woff2") format("woff2");
}

@font-face {
    /* 思源宋体 */
    /* 商用免费 */
    font-family: SYHT;
    src: url("../font/SourceHanSansCN-VF.otf.woff2") format("woff2");
}
